<!-- <ul>
    <% pokemons.forEach(function(pokemon){ %>
        <li>
            <%= pokemon.name %>
        </li>
        <%})%>
</ul> -->

<h1>Favorite Pokemons</h1>

<% pokemons.forEach((pokemon) => { %>
    <div class="well">
        <a href="pokemon/<%= pokemon.id %>">
            <%= pokemon.name %>
        </a>
    </div>
    <% }); %>